DATABASE_URL=postgresql://neondb_owner:npg_jW2uTnARqp4Q@ep-lingering-mouse-an4c02e6-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=Jpm6yjf2WJ5mlsVz
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_EMAIL=randlebrandon5.com
